$color-gray:#44414f;
$color-gray2:#C2C2C2;
$color-gray3:#D1D1D1;
$color-white:#fff;
$color-black:#000;
$color-green:#90ee90;
$color-yellow:#ffff00;
$color-blue:#013068;
$color-lightblue:#e9efff;
// basic colors
$color-lightgray:#EFEFEF;
$color-gray4:#6B6B6B;
$color-orange:#FF6713;
$color-primary:$color-gray;
$color-secondary:$color-orange;